@import url('./loader.css');

body {
  font-family: Verdana, Tahoma, sans-serif;
  background: url(../img/sl_011023_55240_03.jpg) center / cover no-repeat;
  min-height: 100vh;
  color: #5E7985;
  margin: 50px;
  padding: 0;
}

.breed-select {
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* display: none; */
}

.cat-info {
  display: flex;
  align-items: center;
}

img {
  flex-shrink: 0;
  min-width: 400px;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.favorite {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}

.text-box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 700px;
  gap: 20px;
  padding: 0 20px;
}

.text-box h2 {
  font-size: 1.8em;
}

.text-box p {
  font-size: 1.2em;
}